project       = "myapp"
environment   = "prod"
aws_region    = "us-east-1"
vault_address = "https://vault.example.com:8200"


ami_id        = "ami-0a59ec92177ec3fad"
key_name      = "my-keypair"
instance_type = "t3.micro"

azs = ["us-east-1a", "us-east-1b"]

frontend_min = 1
frontend_max = 2
backend_min  = 1
backend_max  = 2

db_name           = "appdb"
db_username       = "dbadmin"
db_instance_class = "db.t3.micro"
